.add-post-container{
    position: absolute;
    width: 50%;
    height: 60%;
    left: 25%;
    background-color: #fff;
    border: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
    border-radius: 5%;
}
.add-text{
    text-align: center;
    padding: 40px;
}
.add-post-header{
    height: 5%;
    padding: 15px;
    border-bottom: solid 1px rgba(var(--b6a, 219, 219, 219), 1);
}
.add-post-header-text{
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.add-post-header-text:hover{
    color: #5252ff;
}
.add-post-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95%;
}
.add-post-image-icon{
    font-size: 50px;
    padding-bottom: 30px;
}
.add-post-image-input{
    background-color: #5252ff;
    width: 100px;
    height: 60px;
    padding: 6px 12px
}
.obscure-background{
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 60%;
}