.picker-container {
    position: relative;
    }
  .emoji-icon {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
  }
  .input-style {
    width: 70%;
    border-radius: 3px;
    border: 1px solid #999;
    padding: 5px;
  }
  @media only screen and (max-width: 1100px) {
    .input-style {
      padding: 0px;
      width: 60%;
    }
  }
  @media only screen and (max-width: 800px) {
    .input-style {
      padding: 5px;
    }
  }