.postsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 975px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 500px;
}
.onePost{
    margin: 20px;
    background-color: #fff;

}